{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NexusGrid - Intelligent System Monitoring & Management for Seamless Workspace Operations.">
    <title>Nexus Grid {% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="{% static 'dashboard/css/sidebar.css' %}" rel="stylesheet">
    <link rel="icon" href= "{% static 'login_manager/images/white-logo.png' %}" type="image/png">
    {% block head %}{% endblock head %}
</head>
<body>
    <nav class="sidebar d-flex flex-column">
        <div class="logo-container mb-4">
            <img src="{% static 'login_manager/images/white-logo.png' %}" alt="Small Logo" class="logo-small">
            <img src="{% static 'login_manager/images/Logo+Text Light.png' %}" alt="Full Logo" class="logo-full">
        </div>
        <a href="/dashboard"><i class="fas fa-chart-pie"></i><span class="d-none d-md-inline"> Dashboard</span></a>
        <a href="/layout"><i class="fas fa-network-wired"></i><span class="d-none d-md-inline"> System Layout</span></a>
        <a href="#"><i class="fas fa-exclamation-triangle"></i><span class="d-none d-md-inline"> Fault Reports</span></a>
        <a href="#"><i class="fas fa-box"></i><span class="d-none d-md-inline"> Resource Requests</span></a>
        <a href="#"><i class="fas fa-qrcode"></i><span class="d-none d-md-inline"> Scan System QR</span></a>
        <a href="#"><i class="fas fa-user"></i><span class="d-none d-md-inline"> User Privileges</span></a>
        <a class="user-profile mt-auto">
            <div class="pfp-container">
                <img src="" alt="User Profile" class="user-pfp" 
                     onerror="this.style.display='none'; this.nextElementSibling.style.display='block';">
                <i class="fas fa-user-circle user-icon"></i>
            </div>
            <div class="user-info">
                <strong class="user-name">Chetan</strong>
                <span class="user-role">Lab Assistant</span>
            </div>
        </a>
        <a href="/login"><i class="fas fa-sign-out-alt"></i><span class="d-none d-md-inline"> Logout</span></a>
    </nav>
    <div class="main">
        {% block main_content %}{% endblock main_content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>