--
-- PostgreSQL database dump
--

-- Dumped from database version 17.8 (6108b59)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO neondb_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: neondb_owner
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO neondb_owner;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO neondb_owner;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_v1_notification; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.api_v1_notification (
    id bigint NOT NULL,
    message text NOT NULL,
    related_to character varying(40) NOT NULL,
    related_id integer,
    target_url character varying(255) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    recipient_id bigint NOT NULL,
    CONSTRAINT api_v1_notification_related_id_check CHECK ((related_id >= 0))
);


ALTER TABLE public.api_v1_notification OWNER TO neondb_owner;

--
-- Name: api_v1_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.api_v1_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_v1_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO neondb_owner;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO neondb_owner;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    codename character varying(100) NOT NULL,
    content_type_id integer NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO neondb_owner;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO neondb_owner;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO neondb_owner;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO neondb_owner;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO neondb_owner;

--
-- Name: django_site; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO neondb_owner;

--
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: faults_faultreport; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.faults_faultreport (
    fault_id integer NOT NULL,
    fault_type character varying(20) NOT NULL,
    description text NOT NULL,
    status character varying(30) NOT NULL,
    reported_at timestamp with time zone NOT NULL,
    reported_by_id bigint NOT NULL,
    system_name_id bigint NOT NULL,
    resolution_summary text NOT NULL,
    resolved_by_id bigint,
    resolved_at timestamp with time zone,
    risk_factor smallint NOT NULL,
    CONSTRAINT faults_faultreport_risk_factor_check CHECK ((risk_factor >= 0))
);


ALTER TABLE public.faults_faultreport OWNER TO neondb_owner;

--
-- Name: faults_faultreport_fault_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.faults_faultreport ALTER COLUMN fault_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.faults_faultreport_fault_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: login_manager_user; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.login_manager_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    role character varying(20) NOT NULL
);


ALTER TABLE public.login_manager_user OWNER TO neondb_owner;

--
-- Name: login_manager_user_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.login_manager_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.login_manager_user_groups OWNER TO neondb_owner;

--
-- Name: login_manager_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.login_manager_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.login_manager_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: login_manager_user_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.login_manager_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.login_manager_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: login_manager_user_user_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.login_manager_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.login_manager_user_user_permissions OWNER TO neondb_owner;

--
-- Name: login_manager_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.login_manager_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.login_manager_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: monitoring_systemcurrent; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.monitoring_systemcurrent (
    id bigint NOT NULL,
    hostname_key character varying(255) NOT NULL,
    hostname character varying(255) NOT NULL,
    last_seen_at timestamp with time zone NOT NULL,
    health_state character varying(16) NOT NULL,
    latest_info_id bigint
);


ALTER TABLE public.monitoring_systemcurrent OWNER TO neondb_owner;

--
-- Name: monitoring_systemcurrent_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.monitoring_systemcurrent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.monitoring_systemcurrent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: monitoring_systeminfo; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.monitoring_systeminfo (
    id bigint NOT NULL,
    hostname character varying(255) NOT NULL,
    ip_address inet,
    cpu_usage double precision,
    memory_usage_percent double precision,
    disk_usage_percent double precision,
    "timestamp" timestamp with time zone,
    architecture character varying(50),
    bytes_received bigint,
    bytes_sent bigint,
    cpu_current_freq double precision,
    cpu_max_freq double precision,
    cpu_min_freq double precision,
    cpu_physical_cores integer,
    cpu_total_cores integer,
    disk_free double precision,
    disk_total double precision,
    disk_used double precision,
    logged_in_users text,
    machine character varying(100),
    memory_available double precision,
    memory_total double precision,
    memory_used double precision,
    processor character varying(255),
    release character varying(100),
    system character varying(100),
    users_count integer,
    version character varying(255)
);


ALTER TABLE public.monitoring_systeminfo OWNER TO neondb_owner;

--
-- Name: monitoring_systeminfo_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.monitoring_systeminfo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.monitoring_systeminfo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: resources_resourcerequest; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.resources_resourcerequest (
    resource_id integer NOT NULL,
    resource_name text NOT NULL,
    description text NOT NULL,
    status character varying(30) NOT NULL,
    requested_at timestamp with time zone NOT NULL,
    requested_by_id bigint NOT NULL,
    system_name_id bigint NOT NULL,
    provision_summary text NOT NULL,
    provided_by_id bigint,
    provided_at timestamp with time zone
);


ALTER TABLE public.resources_resourcerequest OWNER TO neondb_owner;

--
-- Name: resources_resourcerequest_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.resources_resourcerequest ALTER COLUMN resource_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.resources_resourcerequest_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialaccount; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.socialaccount_socialaccount (
    id integer NOT NULL,
    provider character varying(200) NOT NULL,
    uid character varying(191) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.socialaccount_socialaccount OWNER TO neondb_owner;

--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.socialaccount_socialaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.socialaccount_socialapp (
    id integer NOT NULL,
    provider character varying(30) NOT NULL,
    provider_id character varying(200) NOT NULL,
    name character varying(40) NOT NULL,
    client_id character varying(191) NOT NULL,
    secret character varying(191) NOT NULL,
    key character varying(191) NOT NULL,
    settings jsonb NOT NULL
);


ALTER TABLE public.socialaccount_socialapp OWNER TO neondb_owner;

--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.socialaccount_socialapp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp_sites; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.socialaccount_socialapp_sites (
    id bigint NOT NULL,
    socialapp_id integer NOT NULL,
    site_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialapp_sites OWNER TO neondb_owner;

--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.socialaccount_socialapp_sites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialtoken; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.socialaccount_socialtoken (
    id integer NOT NULL,
    token text NOT NULL,
    token_secret text NOT NULL,
    expires_at timestamp with time zone,
    account_id integer NOT NULL,
    app_id integer
);


ALTER TABLE public.socialaccount_socialtoken OWNER TO neondb_owner;

--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.socialaccount_socialtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: system_layout_lab; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_layout_lab (
    id bigint NOT NULL,
    lab_name character varying(100) NOT NULL,
    location character varying(100),
    capacity integer,
    dimension character varying(50),
    quick_info jsonb,
    layout_item_id bigint NOT NULL,
    lab_code character varying(20)
);


ALTER TABLE public.system_layout_lab OWNER TO neondb_owner;

--
-- Name: system_layout_lab_assistants; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_layout_lab_assistants (
    id bigint NOT NULL,
    lab_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.system_layout_lab_assistants OWNER TO neondb_owner;

--
-- Name: system_layout_lab_assistants_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.system_layout_lab_assistants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.system_layout_lab_assistants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: system_layout_lab_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.system_layout_lab ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.system_layout_lab_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: system_layout_lab_instructors; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_layout_lab_instructors (
    id bigint NOT NULL,
    lab_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.system_layout_lab_instructors OWNER TO neondb_owner;

--
-- Name: system_layout_lab_instructors_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.system_layout_lab_instructors ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.system_layout_lab_instructors_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: system_layout_labassignment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_layout_labassignment (
    id bigint NOT NULL,
    role_type character varying(20) NOT NULL,
    assigned_at timestamp with time zone NOT NULL,
    start_date date,
    end_date date,
    lab_id bigint NOT NULL,
    user_id bigint NOT NULL,
    assigned_by_id bigint
);


ALTER TABLE public.system_layout_labassignment OWNER TO neondb_owner;

--
-- Name: system_layout_labassignment_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.system_layout_labassignment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.system_layout_labassignment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: system_layout_layoutitem; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_layout_layoutitem (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    item_type character varying(20) NOT NULL,
    position_x integer NOT NULL,
    position_y integer NOT NULL,
    width integer NOT NULL,
    height integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    parent_id bigint,
    CONSTRAINT system_layout_layoutitem_height_check CHECK ((height >= 0)),
    CONSTRAINT system_layout_layoutitem_width_check CHECK ((width >= 0))
);


ALTER TABLE public.system_layout_layoutitem OWNER TO neondb_owner;

--
-- Name: system_layout_layoutitem_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.system_layout_layoutitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.system_layout_layoutitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: system_layout_privilegesconfig; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_layout_privilegesconfig (
    id bigint NOT NULL,
    max_labs_per_incharge integer NOT NULL,
    max_labs_per_assistant integer NOT NULL,
    CONSTRAINT system_layout_privilegesconfig_max_labs_per_assistant_check CHECK ((max_labs_per_assistant >= 0)),
    CONSTRAINT system_layout_privilegesconfig_max_labs_per_incharge_check CHECK ((max_labs_per_incharge >= 0))
);


ALTER TABLE public.system_layout_privilegesconfig OWNER TO neondb_owner;

--
-- Name: system_layout_privilegesconfig_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.system_layout_privilegesconfig ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.system_layout_privilegesconfig_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: system_layout_system; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.system_layout_system (
    id bigint NOT NULL,
    host_name character varying(255),
    status character varying(20),
    updated_at timestamp with time zone,
    lab_id bigint,
    layout_item_id bigint,
    updated_by_id bigint
);


ALTER TABLE public.system_layout_system OWNER TO neondb_owner;

--
-- Name: system_layout_system_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.system_layout_system ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.system_layout_system_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userprivileges_labassignmentsetting; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.userprivileges_labassignmentsetting (
    id bigint NOT NULL,
    instructor_limit integer NOT NULL,
    assistant_limit integer NOT NULL,
    CONSTRAINT userprivileges_labassignmentsetting_assistant_limit_check CHECK ((assistant_limit >= 0)),
    CONSTRAINT userprivileges_labassignmentsetting_instructor_limit_check CHECK ((instructor_limit >= 0))
);


ALTER TABLE public.userprivileges_labassignmentsetting OWNER TO neondb_owner;

--
-- Name: userprivileges_labassignmentsetting_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.userprivileges_labassignmentsetting ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userprivileges_labassignmentsetting_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: api_v1_notification; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.django_site (id, domain, name) FROM stdin;
1	example.com	example.com
\.


--
-- Data for Name: faults_faultreport; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.faults_faultreport (fault_id, fault_type, description, status, reported_at, reported_by_id, system_name_id, resolution_summary, resolved_by_id, resolved_at, risk_factor) FROM stdin;
6	Hardware	999	resolved	2026-03-06 17:08:41.904929+00	1	97	asd	1	2026-03-06 17:11:37.004112+00	1
7	Software	fg	resolved	2026-03-07 09:24:48.176467+00	1	97	sdsdf	1	2026-03-08 05:15:40.645908+00	1
9	Hardware	hehehehehe	resolved	2026-03-08 04:46:58.627384+00	1	81	dsfs	1	2026-03-08 05:17:32.472701+00	5
8	Hardware	asd	unaddressed	2026-03-07 10:16:20.545871+00	1	94		\N	\N	1
\.


--
-- Data for Name: login_manager_user; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: login_manager_user_groups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.login_manager_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: login_manager_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: monitoring_systemcurrent; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.monitoring_systemcurrent (id, hostname_key, hostname, last_seen_at, health_state, latest_info_id) FROM stdin;
2	parths-lenovo-ideapad	Parths-Lenovo-Ideapad	2026-03-06 14:50:36.49716+00	offline	23
1	chetan-dell-g15	Chetan-Dell-G15	2026-03-06 17:13:33.555238+00	online	25
\.


--
-- Data for Name: monitoring_systeminfo; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: resources_resourcerequest; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.resources_resourcerequest (resource_id, resource_name, description, status, requested_at, requested_by_id, system_name_id, provision_summary, provided_by_id, provided_at) FROM stdin;
7	he	he	Pending	2026-03-07 09:24:29.702638+00	1	97		\N	\N
6	6	+	Pending	2026-03-06 17:08:58.522342+00	1	96		\N	\N
\.


--
-- Data for Name: socialaccount_socialaccount; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.socialaccount_socialaccount (id, provider, uid, last_login, date_joined, extra_data, user_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.socialaccount_socialapp (id, provider, provider_id, name, client_id, secret, key, settings) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp_sites; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.socialaccount_socialapp_sites (id, socialapp_id, site_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialtoken; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.socialaccount_socialtoken (id, token, token_secret, expires_at, account_id, app_id) FROM stdin;
\.


--
-- Data for Name: system_layout_lab; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.system_layout_lab (id, lab_name, location, capacity, dimension, quick_info, layout_item_id, lab_code) FROM stdin;
25	IT_LAB_1	A Wing > Third Floor	\N	\N	{}	120	\N
26	IT_LAB_2	A Wing > Third Floor	\N	\N	{}	121	\N
27	IT_LAB_3	A Wing > Third Floor	\N	\N	{}	122	\N
28	IT_LAB_4	A Wing > Third Floor	\N	\N	{}	123	\N
29	IT_LAB_5	A Wing > Third Floor	\N	\N	{}	124	\N
30	IT_LAB_8	A Wing > Second Floor	\N	\N	{}	167	\N
31	CR1	B Wing > 1st Floor	\N	\N	{}	174	\N
32	CR2	B Wing > 1st Floor	\N	\N	{}	175	\N
\.


--
-- Data for Name: system_layout_lab_assistants; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.system_layout_lab_assistants (id, lab_id, user_id) FROM stdin;
1	31	2
5	30	7
6	26	7
\.


--
-- Data for Name: system_layout_lab_instructors; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.system_layout_lab_instructors (id, lab_id, user_id) FROM stdin;
3	29	4
4	30	4
8	28	4
\.


--
-- Data for Name: system_layout_labassignment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.system_layout_labassignment (id, role_type, assigned_at, start_date, end_date, lab_id, user_id, assigned_by_id) FROM stdin;
3	incharge	2026-03-06 06:43:13.649641+00	\N	\N	29	4	1
4	incharge	2026-03-06 09:20:57.018435+00	\N	\N	30	4	1
8	incharge	2026-03-06 09:21:44.126071+00	\N	\N	28	4	1
\.


--
-- Data for Name: system_layout_layoutitem; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: system_layout_privilegesconfig; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.system_layout_privilegesconfig (id, max_labs_per_incharge, max_labs_per_assistant) FROM stdin;
1	5	4
\.


--
-- Data for Name: system_layout_system; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: userprivileges_labassignmentsetting; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.userprivileges_labassignmentsetting (id, instructor_limit, assistant_limit) FROM stdin;
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 1, false);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: api_v1_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.api_v1_notification_id_seq', 32, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 104, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 13, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 26, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 44, true);


--
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_site_id_seq', 1, true);


--
-- Name: faults_faultreport_fault_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.faults_faultreport_fault_id_seq', 9, true);


--
-- Name: login_manager_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.login_manager_user_groups_id_seq', 1, false);


--
-- Name: login_manager_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.login_manager_user_id_seq', 9, true);


--
-- Name: login_manager_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.login_manager_user_user_permissions_id_seq', 104, true);


--
-- Name: monitoring_systemcurrent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.monitoring_systemcurrent_id_seq', 2, true);


--
-- Name: monitoring_systeminfo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.monitoring_systeminfo_id_seq', 25, true);


--
-- Name: resources_resourcerequest_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.resources_resourcerequest_resource_id_seq', 7, true);


--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.socialaccount_socialaccount_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_sites_id_seq', 1, false);


--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.socialaccount_socialtoken_id_seq', 1, false);


--
-- Name: system_layout_lab_assistants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.system_layout_lab_assistants_id_seq', 6, true);


--
-- Name: system_layout_lab_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.system_layout_lab_id_seq', 32, true);


--
-- Name: system_layout_lab_instructors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.system_layout_lab_instructors_id_seq', 11, true);


--
-- Name: system_layout_labassignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.system_layout_labassignment_id_seq', 17, true);


--
-- Name: system_layout_layoutitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.system_layout_layoutitem_id_seq', 201, true);


--
-- Name: system_layout_privilegesconfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.system_layout_privilegesconfig_id_seq', 1, false);


--
-- Name: system_layout_system_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.system_layout_system_id_seq', 105, true);


--
-- Name: userprivileges_labassignmentsetting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.userprivileges_labassignmentsetting_id_seq', 1, false);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: api_v1_notification api_v1_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_v1_notification
    ADD CONSTRAINT api_v1_notification_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: django_site django_site_domain_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_key UNIQUE (domain);


--
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- Name: faults_faultreport faults_faultreport_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.faults_faultreport
    ADD CONSTRAINT faults_faultreport_pkey PRIMARY KEY (fault_id);


--
-- Name: login_manager_user login_manager_user_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user
    ADD CONSTRAINT login_manager_user_email_key UNIQUE (email);


--
-- Name: login_manager_user_groups login_manager_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_groups
    ADD CONSTRAINT login_manager_user_groups_pkey PRIMARY KEY (id);


--
-- Name: login_manager_user_groups login_manager_user_groups_user_id_group_id_28b2c2f1_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_groups
    ADD CONSTRAINT login_manager_user_groups_user_id_group_id_28b2c2f1_uniq UNIQUE (user_id, group_id);


--
-- Name: login_manager_user login_manager_user_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user
    ADD CONSTRAINT login_manager_user_pkey PRIMARY KEY (id);


--
-- Name: login_manager_user_user_permissions login_manager_user_user__user_id_permission_id_eafc46b6_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_user_permissions
    ADD CONSTRAINT login_manager_user_user__user_id_permission_id_eafc46b6_uniq UNIQUE (user_id, permission_id);


--
-- Name: login_manager_user_user_permissions login_manager_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_user_permissions
    ADD CONSTRAINT login_manager_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: login_manager_user login_manager_user_username_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user
    ADD CONSTRAINT login_manager_user_username_key UNIQUE (username);


--
-- Name: monitoring_systemcurrent monitoring_systemcurrent_hostname_key_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.monitoring_systemcurrent
    ADD CONSTRAINT monitoring_systemcurrent_hostname_key_key UNIQUE (hostname_key);


--
-- Name: monitoring_systemcurrent monitoring_systemcurrent_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.monitoring_systemcurrent
    ADD CONSTRAINT monitoring_systemcurrent_pkey PRIMARY KEY (id);


--
-- Name: monitoring_systeminfo monitoring_systeminfo_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.monitoring_systeminfo
    ADD CONSTRAINT monitoring_systeminfo_pkey PRIMARY KEY (id);


--
-- Name: resources_resourcerequest resources_resourcerequest_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.resources_resourcerequest
    ADD CONSTRAINT resources_resourcerequest_pkey PRIMARY KEY (resource_id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_provider_uid_fc810c6e_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_provider_uid_fc810c6e_uniq UNIQUE (provider, uid);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq UNIQUE (socialapp_id, site_id);


--
-- Name: socialaccount_socialapp socialaccount_socialapp_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialapp
    ADD CONSTRAINT socialaccount_socialapp_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp_sites_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq UNIQUE (app_id, account_id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_pkey PRIMARY KEY (id);


--
-- Name: system_layout_lab_assistants system_layout_lab_assistants_lab_id_user_id_0d537d7e_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_assistants
    ADD CONSTRAINT system_layout_lab_assistants_lab_id_user_id_0d537d7e_uniq UNIQUE (lab_id, user_id);


--
-- Name: system_layout_lab_assistants system_layout_lab_assistants_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_assistants
    ADD CONSTRAINT system_layout_lab_assistants_pkey PRIMARY KEY (id);


--
-- Name: system_layout_lab_instructors system_layout_lab_instructors_lab_id_user_id_3dafa040_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_instructors
    ADD CONSTRAINT system_layout_lab_instructors_lab_id_user_id_3dafa040_uniq UNIQUE (lab_id, user_id);


--
-- Name: system_layout_lab_instructors system_layout_lab_instructors_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_instructors
    ADD CONSTRAINT system_layout_lab_instructors_pkey PRIMARY KEY (id);


--
-- Name: system_layout_lab system_layout_lab_lab_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab
    ADD CONSTRAINT system_layout_lab_lab_code_key UNIQUE (lab_code);


--
-- Name: system_layout_lab system_layout_lab_layout_item_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab
    ADD CONSTRAINT system_layout_lab_layout_item_id_key UNIQUE (layout_item_id);


--
-- Name: system_layout_lab system_layout_lab_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab
    ADD CONSTRAINT system_layout_lab_pkey PRIMARY KEY (id);


--
-- Name: system_layout_labassignment system_layout_labassignment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_labassignment
    ADD CONSTRAINT system_layout_labassignment_pkey PRIMARY KEY (id);


--
-- Name: system_layout_layoutitem system_layout_layoutitem_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_layoutitem
    ADD CONSTRAINT system_layout_layoutitem_pkey PRIMARY KEY (id);


--
-- Name: system_layout_privilegesconfig system_layout_privilegesconfig_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_privilegesconfig
    ADD CONSTRAINT system_layout_privilegesconfig_pkey PRIMARY KEY (id);


--
-- Name: system_layout_system system_layout_system_layout_item_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_system
    ADD CONSTRAINT system_layout_system_layout_item_id_key UNIQUE (layout_item_id);


--
-- Name: system_layout_system system_layout_system_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_system
    ADD CONSTRAINT system_layout_system_pkey PRIMARY KEY (id);


--
-- Name: userprivileges_labassignmentsetting userprivileges_labassignmentsetting_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.userprivileges_labassignmentsetting
    ADD CONSTRAINT userprivileges_labassignmentsetting_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_email_03be32b2; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailaddress_email_03be32b2 ON public.account_emailaddress USING btree (email);


--
-- Name: account_emailaddress_email_03be32b2_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailaddress_email_03be32b2_like ON public.account_emailaddress USING btree (email varchar_pattern_ops);


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: api_v1_noti_created_e46fba_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX api_v1_noti_created_e46fba_idx ON public.api_v1_notification USING btree (created_at);


--
-- Name: api_v1_noti_recipie_b5ef40_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX api_v1_noti_recipie_b5ef40_idx ON public.api_v1_notification USING btree (recipient_id, is_read);


--
-- Name: api_v1_noti_related_30fb3a_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX api_v1_noti_related_30fb3a_idx ON public.api_v1_notification USING btree (related_to, related_id);


--
-- Name: api_v1_notification_created_by_id_bfbc77cc; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX api_v1_notification_created_by_id_bfbc77cc ON public.api_v1_notification USING btree (created_by_id);


--
-- Name: api_v1_notification_recipient_id_5cabff53; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX api_v1_notification_recipient_id_5cabff53 ON public.api_v1_notification USING btree (recipient_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- Name: faults_faul_reporte_9634de_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX faults_faul_reporte_9634de_idx ON public.faults_faultreport USING btree (reported_at);


--
-- Name: faults_faul_status_a7915e_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX faults_faul_status_a7915e_idx ON public.faults_faultreport USING btree (status);


--
-- Name: faults_faul_system__ad09af_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX faults_faul_system__ad09af_idx ON public.faults_faultreport USING btree (system_name_id);


--
-- Name: faults_faultreport_reported_by_id_979305e2; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX faults_faultreport_reported_by_id_979305e2 ON public.faults_faultreport USING btree (reported_by_id);


--
-- Name: faults_faultreport_resolved_by_id_11326cee; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX faults_faultreport_resolved_by_id_11326cee ON public.faults_faultreport USING btree (resolved_by_id);


--
-- Name: faults_faultreport_system_name_id_260d472b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX faults_faultreport_system_name_id_260d472b ON public.faults_faultreport USING btree (system_name_id);


--
-- Name: login_manager_user_email_62a3d44e_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_email_62a3d44e_like ON public.login_manager_user USING btree (email varchar_pattern_ops);


--
-- Name: login_manager_user_groups_group_id_500e8b9d; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_groups_group_id_500e8b9d ON public.login_manager_user_groups USING btree (group_id);


--
-- Name: login_manager_user_groups_user_id_669a995e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_groups_user_id_669a995e ON public.login_manager_user_groups USING btree (user_id);


--
-- Name: login_manager_user_role_b98115f0; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_role_b98115f0 ON public.login_manager_user USING btree (role);


--
-- Name: login_manager_user_role_b98115f0_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_role_b98115f0_like ON public.login_manager_user USING btree (role varchar_pattern_ops);


--
-- Name: login_manager_user_user_permissions_permission_id_3d33b766; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_user_permissions_permission_id_3d33b766 ON public.login_manager_user_user_permissions USING btree (permission_id);


--
-- Name: login_manager_user_user_permissions_user_id_bfec16db; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_user_permissions_user_id_bfec16db ON public.login_manager_user_user_permissions USING btree (user_id);


--
-- Name: login_manager_user_username_b0d86def_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX login_manager_user_username_b0d86def_like ON public.login_manager_user USING btree (username varchar_pattern_ops);


--
-- Name: monitoring__health__6bcf45_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring__health__6bcf45_idx ON public.monitoring_systemcurrent USING btree (health_state, last_seen_at DESC);


--
-- Name: monitoring__hostnam_2b20b1_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring__hostnam_2b20b1_idx ON public.monitoring_systeminfo USING btree (hostname, "timestamp" DESC);


--
-- Name: monitoring_systemcurrent_health_state_9da9afaf; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systemcurrent_health_state_9da9afaf ON public.monitoring_systemcurrent USING btree (health_state);


--
-- Name: monitoring_systemcurrent_health_state_9da9afaf_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systemcurrent_health_state_9da9afaf_like ON public.monitoring_systemcurrent USING btree (health_state varchar_pattern_ops);


--
-- Name: monitoring_systemcurrent_hostname_2835e199; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systemcurrent_hostname_2835e199 ON public.monitoring_systemcurrent USING btree (hostname);


--
-- Name: monitoring_systemcurrent_hostname_2835e199_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systemcurrent_hostname_2835e199_like ON public.monitoring_systemcurrent USING btree (hostname varchar_pattern_ops);


--
-- Name: monitoring_systemcurrent_hostname_key_929dfe9a_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systemcurrent_hostname_key_929dfe9a_like ON public.monitoring_systemcurrent USING btree (hostname_key varchar_pattern_ops);


--
-- Name: monitoring_systemcurrent_last_seen_at_ad7994a4; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systemcurrent_last_seen_at_ad7994a4 ON public.monitoring_systemcurrent USING btree (last_seen_at);


--
-- Name: monitoring_systemcurrent_latest_info_id_d8c1e39b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systemcurrent_latest_info_id_d8c1e39b ON public.monitoring_systemcurrent USING btree (latest_info_id);


--
-- Name: monitoring_systeminfo_hostname_78839e2d_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systeminfo_hostname_78839e2d_like ON public.monitoring_systeminfo USING btree (hostname varchar_pattern_ops);


--
-- Name: monitoring_systeminfo_timestamp_b17d28ce; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX monitoring_systeminfo_timestamp_b17d28ce ON public.monitoring_systeminfo USING btree ("timestamp");


--
-- Name: resources_resourcerequest_provided_by_id_089e31a2; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX resources_resourcerequest_provided_by_id_089e31a2 ON public.resources_resourcerequest USING btree (provided_by_id);


--
-- Name: resources_resourcerequest_requested_by_id_71772e25; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX resources_resourcerequest_requested_by_id_71772e25 ON public.resources_resourcerequest USING btree (requested_by_id);


--
-- Name: resources_resourcerequest_system_name_id_0a1f981a; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX resources_resourcerequest_system_name_id_0a1f981a ON public.resources_resourcerequest USING btree (system_name_id);


--
-- Name: socialaccount_socialaccount_user_id_8146e70c; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialaccount_user_id_8146e70c ON public.socialaccount_socialaccount USING btree (user_id);


--
-- Name: socialaccount_socialapp_sites_site_id_2579dee5; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialapp_sites_site_id_2579dee5 ON public.socialaccount_socialapp_sites USING btree (site_id);


--
-- Name: socialaccount_socialapp_sites_socialapp_id_97fb6e7d; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialapp_sites_socialapp_id_97fb6e7d ON public.socialaccount_socialapp_sites USING btree (socialapp_id);


--
-- Name: socialaccount_socialtoken_account_id_951f210e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialtoken_account_id_951f210e ON public.socialaccount_socialtoken USING btree (account_id);


--
-- Name: socialaccount_socialtoken_app_id_636a42d7; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialtoken_app_id_636a42d7 ON public.socialaccount_socialtoken USING btree (app_id);


--
-- Name: system_layout_lab_assistants_lab_id_6aa66731; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_lab_assistants_lab_id_6aa66731 ON public.system_layout_lab_assistants USING btree (lab_id);


--
-- Name: system_layout_lab_assistants_user_id_6e92cfbb; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_lab_assistants_user_id_6e92cfbb ON public.system_layout_lab_assistants USING btree (user_id);


--
-- Name: system_layout_lab_instructors_lab_id_31073377; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_lab_instructors_lab_id_31073377 ON public.system_layout_lab_instructors USING btree (lab_id);


--
-- Name: system_layout_lab_instructors_user_id_4355b619; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_lab_instructors_user_id_4355b619 ON public.system_layout_lab_instructors USING btree (user_id);


--
-- Name: system_layout_lab_lab_code_26ae04dc_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_lab_lab_code_26ae04dc_like ON public.system_layout_lab USING btree (lab_code varchar_pattern_ops);


--
-- Name: system_layout_labassignment_assigned_by_id_5a305575; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_labassignment_assigned_by_id_5a305575 ON public.system_layout_labassignment USING btree (assigned_by_id);


--
-- Name: system_layout_labassignment_lab_id_c481d49d; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_labassignment_lab_id_c481d49d ON public.system_layout_labassignment USING btree (lab_id);


--
-- Name: system_layout_labassignment_user_id_2913306a; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_labassignment_user_id_2913306a ON public.system_layout_labassignment USING btree (user_id);


--
-- Name: system_layout_layoutitem_item_type_99d78015; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_layoutitem_item_type_99d78015 ON public.system_layout_layoutitem USING btree (item_type);


--
-- Name: system_layout_layoutitem_item_type_99d78015_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_layoutitem_item_type_99d78015_like ON public.system_layout_layoutitem USING btree (item_type varchar_pattern_ops);


--
-- Name: system_layout_layoutitem_name_ded3afc3; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_layoutitem_name_ded3afc3 ON public.system_layout_layoutitem USING btree (name);


--
-- Name: system_layout_layoutitem_name_ded3afc3_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_layoutitem_name_ded3afc3_like ON public.system_layout_layoutitem USING btree (name varchar_pattern_ops);


--
-- Name: system_layout_layoutitem_parent_id_c63ac06e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_layoutitem_parent_id_c63ac06e ON public.system_layout_layoutitem USING btree (parent_id);


--
-- Name: system_layout_system_lab_id_9e6dab0a; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_system_lab_id_9e6dab0a ON public.system_layout_system USING btree (lab_id);


--
-- Name: system_layout_system_updated_by_id_5881ee6e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX system_layout_system_updated_by_id_5881ee6e ON public.system_layout_system USING btree (updated_by_id);


--
-- Name: unique_primary_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX unique_primary_email ON public.account_emailaddress USING btree (user_id, "primary") WHERE "primary";


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_login_manager_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_login_manager_user_id FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_v1_notification api_v1_notification_created_by_id_bfbc77cc_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_v1_notification
    ADD CONSTRAINT api_v1_notification_created_by_id_bfbc77cc_fk_login_man FOREIGN KEY (created_by_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_v1_notification api_v1_notification_recipient_id_5cabff53_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.api_v1_notification
    ADD CONSTRAINT api_v1_notification_recipient_id_5cabff53_fk_login_man FOREIGN KEY (recipient_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_login_manager_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_login_manager_user_id FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faults_faultreport faults_faultreport_reported_by_id_979305e2_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.faults_faultreport
    ADD CONSTRAINT faults_faultreport_reported_by_id_979305e2_fk_login_man FOREIGN KEY (reported_by_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faults_faultreport faults_faultreport_resolved_by_id_11326cee_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.faults_faultreport
    ADD CONSTRAINT faults_faultreport_resolved_by_id_11326cee_fk_login_man FOREIGN KEY (resolved_by_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: faults_faultreport faults_faultreport_system_name_id_260d472b_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.faults_faultreport
    ADD CONSTRAINT faults_faultreport_system_name_id_260d472b_fk_system_la FOREIGN KEY (system_name_id) REFERENCES public.system_layout_system(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: login_manager_user_groups login_manager_user_g_user_id_669a995e_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_groups
    ADD CONSTRAINT login_manager_user_g_user_id_669a995e_fk_login_man FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: login_manager_user_groups login_manager_user_groups_group_id_500e8b9d_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_groups
    ADD CONSTRAINT login_manager_user_groups_group_id_500e8b9d_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: login_manager_user_user_permissions login_manager_user_u_permission_id_3d33b766_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_user_permissions
    ADD CONSTRAINT login_manager_user_u_permission_id_3d33b766_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: login_manager_user_user_permissions login_manager_user_u_user_id_bfec16db_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.login_manager_user_user_permissions
    ADD CONSTRAINT login_manager_user_u_user_id_bfec16db_fk_login_man FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: monitoring_systemcurrent monitoring_systemcur_latest_info_id_d8c1e39b_fk_monitorin; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.monitoring_systemcurrent
    ADD CONSTRAINT monitoring_systemcur_latest_info_id_d8c1e39b_fk_monitorin FOREIGN KEY (latest_info_id) REFERENCES public.monitoring_systeminfo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: resources_resourcerequest resources_resourcere_provided_by_id_089e31a2_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.resources_resourcerequest
    ADD CONSTRAINT resources_resourcere_provided_by_id_089e31a2_fk_login_man FOREIGN KEY (provided_by_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: resources_resourcerequest resources_resourcere_requested_by_id_71772e25_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.resources_resourcerequest
    ADD CONSTRAINT resources_resourcere_requested_by_id_71772e25_fk_login_man FOREIGN KEY (requested_by_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: resources_resourcerequest resources_resourcere_system_name_id_0a1f981a_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.resources_resourcerequest
    ADD CONSTRAINT resources_resourcere_system_name_id_0a1f981a_fk_system_la FOREIGN KEY (system_name_id) REFERENCES public.system_layout_system(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_account_id_951f210e_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_account_id_951f210e_fk_socialacc FOREIGN KEY (account_id) REFERENCES public.socialaccount_socialaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_app_id_636a42d7_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_app_id_636a42d7_fk_socialacc FOREIGN KEY (app_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_site_id_2579dee5_fk_django_si; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_site_id_2579dee5_fk_django_si FOREIGN KEY (site_id) REFERENCES public.django_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc FOREIGN KEY (socialapp_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialaccount socialaccount_social_user_id_8146e70c_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_social_user_id_8146e70c_fk_login_man FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_lab_assistants system_layout_lab_as_lab_id_6aa66731_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_assistants
    ADD CONSTRAINT system_layout_lab_as_lab_id_6aa66731_fk_system_la FOREIGN KEY (lab_id) REFERENCES public.system_layout_lab(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_lab_assistants system_layout_lab_as_user_id_6e92cfbb_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_assistants
    ADD CONSTRAINT system_layout_lab_as_user_id_6e92cfbb_fk_login_man FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_lab_instructors system_layout_lab_in_lab_id_31073377_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_instructors
    ADD CONSTRAINT system_layout_lab_in_lab_id_31073377_fk_system_la FOREIGN KEY (lab_id) REFERENCES public.system_layout_lab(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_lab_instructors system_layout_lab_in_user_id_4355b619_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab_instructors
    ADD CONSTRAINT system_layout_lab_in_user_id_4355b619_fk_login_man FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_lab system_layout_lab_layout_item_id_51767c27_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_lab
    ADD CONSTRAINT system_layout_lab_layout_item_id_51767c27_fk_system_la FOREIGN KEY (layout_item_id) REFERENCES public.system_layout_layoutitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_labassignment system_layout_labass_assigned_by_id_5a305575_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_labassignment
    ADD CONSTRAINT system_layout_labass_assigned_by_id_5a305575_fk_login_man FOREIGN KEY (assigned_by_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_labassignment system_layout_labass_lab_id_c481d49d_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_labassignment
    ADD CONSTRAINT system_layout_labass_lab_id_c481d49d_fk_system_la FOREIGN KEY (lab_id) REFERENCES public.system_layout_lab(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_labassignment system_layout_labass_user_id_2913306a_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_labassignment
    ADD CONSTRAINT system_layout_labass_user_id_2913306a_fk_login_man FOREIGN KEY (user_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_layoutitem system_layout_layout_parent_id_c63ac06e_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_layoutitem
    ADD CONSTRAINT system_layout_layout_parent_id_c63ac06e_fk_system_la FOREIGN KEY (parent_id) REFERENCES public.system_layout_layoutitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_system system_layout_system_lab_id_9e6dab0a_fk_system_layout_lab_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_system
    ADD CONSTRAINT system_layout_system_lab_id_9e6dab0a_fk_system_layout_lab_id FOREIGN KEY (lab_id) REFERENCES public.system_layout_lab(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_system system_layout_system_layout_item_id_f88d2918_fk_system_la; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_system
    ADD CONSTRAINT system_layout_system_layout_item_id_f88d2918_fk_system_la FOREIGN KEY (layout_item_id) REFERENCES public.system_layout_layoutitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: system_layout_system system_layout_system_updated_by_id_5881ee6e_fk_login_man; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.system_layout_system
    ADD CONSTRAINT system_layout_system_updated_by_id_5881ee6e_fk_login_man FOREIGN KEY (updated_by_id) REFERENCES public.login_manager_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: neondb_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

